body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0f0;
    margin: 0;
    padding: 0;
}

header {
    background-color: #2A8C82;
    color: #fff;
    padding: 10px 0px;
    text-align: center;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #91F2E9;
}

h1, h2, h4 {
    text-align: center;
    color: #333;
    margin: 25px 0px;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}

iframe {
    display: block;
    margin: 0 auto;
}

footer {
    background-color: #2A8C82;
    max-width: 100%;
    height: auto;
    color: #91F2E9;
    text-align: center;
    padding: 10px 0px;
}

.container {
    display: flex;
    
}