body, ul, li, a{
    margin: 0;
    padding: 0;
    
}

body{
    font-family: Arial, sans-serif;
    background-color: rgb(133, 143, 143);
    color: black;

}
header{
    background-color: rgb(134, 141, 141);
    border-bottom: 1px solid #ccc;
    padding: 10px 0;

}
nav{

    max-width: 5%;
    margin: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;

}

logo{
    font-size: 24px; 
    font-weight: bold;
    color: #333;

}


nav ul{
    list-style-type: nome;
    display: flex;


}
nav ul li{
    margin-right: 20px;
}

nav ul li a{
    text-decoration: nome;
    color: #333;
    font-weight: bold;
}



section{
   padding: 40px;

}


.escola{
    background-image: url("../imagens/cursos2.jpg");
    background-size: cover;
    background-position: center;
    opacity: 0.7;
    color: rgb(146, 28, 28);
    text-align: center;

}

.escola-content{
    max-width: 600px;
    margin: 0 auto;
}

.escola h1{
font-size: 36px;
margin-bottom: 20px;
color: rgb(0, 0, 0);
text-shadow: 1px, 1px, 1px rgb(7, 7, 7) ;

}

.escola p{
font-size: 18pix;
margin-bottom: 20px;
color: rgb(240, 224, 224);
text-shadow: 1px, 1px, 1px rgb(10, 10, 10) ;

}

.btn-aprender{
display: inline-block;
background-color: #333;
color: #FFF;
padding: 10px 20px;
text-decoration:nome;
font-weight:bold;
border: 10px;
transition: 0.3s;


}
.btn-aprender:hover{
background-color: #555;

}

.cursos{
  max-width: 960px;
  margin: 0 auto;
  text-align: center;

}
.cursos h2{
    font-size: 24px;
    margin-bottom: 40px;

}

.curso-card{
    background-color: rgb(228, 208, 208);
    border: 1px solid rgb(175, 100, 100);
    border-radius: 5px;
    padding: 20px;
    margin: 20px;
    text-align: left;
    transition: transform 0.3s;
}


.curso-card:hover{
    transform: translateY(-5px);

}

.curso-cardimg{
    max-width: 50%;
    height: auto;
    border-radius: 5px;
}

.curso-card h3, p{
    font-size: 16px;
    margin-bottom: 20px;
    
}
.about{
    max-width: 960px;
    margin: 0 auto;
}

.contato{
    background-color: #333;
    color: rgb(179, 142, 142);
    text-align: center;
    padding: 60px 0;


}

.contato h2{
    font-size: 18px;
    margin-bottom: 40px;

}

.contato p, span{
    font-size: 18px;
    margin-bottom: 40px;

}

footer{
    background-color: #333;
    color: #333;
}

.curso-card img{
    width: 250px;
}